<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nagasawakenji.walkfind.infra.mybatis.mapper.UserHistoryMapper">

    <resultMap id="ContestResultDtoMap" type="nagasawakenji.walkfind.domain.dto.ContestResultDto">
        <result property="contestId" column="contest_id"/>
        <result property="contestName" column="contest_name"/>
        <result property="heldDate" column="held_date"/>
        <result property="rank" column="final_rank"/>
        <result property="totalParticipants" column="total_participants"/>
        <result property="photoId" column="photo_id"/>
    </resultMap>

    <resultMap id="PhotoDtoMap" type="nagasawakenji.walkfind.domain.dto.PhotoDto">
        <id property="photoId" column="photo_id"/>
        <result property="photoUrl" column="photo_url"/>
        <result property="description" column="description"/>
        <result property="postDate" column="submission_date"/>
        <result property="likesCount" column="likes_count"/>
        <result property="isPrivate" column="is_private"/>
    </resultMap>

    <select id="getUserContestResults" parameterType="string"
            resultMap="ContestResultDtoMap">
        SELECT
        c.id AS contest_id,
        c.name AS contest_name,
        c.end_date AS held_date,
        cr.final_rank,
        (SELECT COUNT(DISTINCT v.user_id)
        FROM user_photos up_inner
        JOIN votes v ON up_inner.id = v.photo_id
        WHERE up_inner.contest_id = c.id) AS total_participants,
        up.id AS photo_id
        FROM
        contest_results cr
        JOIN
        user_photos up ON cr.photo_id = up.id
        JOIN
        contests c ON cr.contest_id = c.id
        WHERE
        up.user_id = #{userId}
        ORDER BY
        c.end_date DESC
    </select>

    <select id="getUserRecentPosts" parameterType="map"
            resultMap="PhotoDtoMap">
        SELECT
        p.id AS photo_id,
        p.photo_url,
        p.description,
        p.submission_date,
        FALSE AS is_private,
        COALESCE(v_count.likes_count, 0) AS likes_count
        FROM
        user_photos p
        LEFT JOIN
        (SELECT photo_id, COUNT(id) AS likes_count FROM votes GROUP BY photo_id) AS v_count
        ON p.id = v_count.photo_id
        WHERE
        p.user_id = #{userId}
        AND p.is_approved = TRUE
        ORDER BY
        p.submission_date DESC
        LIMIT
        #{limit}
    </select>
</mapper>